version: '3'
services:
  frontend:
    build:
      context: ./library_front
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - backend
  backend:
    build:
      context: ./library_back
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - postgres
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=library_db
x-webserver:
    image: nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - frontend
